.km-filter-sm-a-span {
    font-size: 18px;
}

.km_filter_sm_div {
    font-size: 22px;
    background-color: #00FF00;
    width: 340px;
    word-spacing: 25px;
}

.km_filter_sm_div_navbar {
    margin-top: 20px;
    font-size: 18px;
    width: 290px;
}

